doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/web2d.http.js")

		block setup
	body
		include header

		block content

		include footer

		block scripts