extends layout

block content
	h1 Recent Requests:
	- if (users.length) {
		ul
			each user in users
				li= user.username + " (" + user.info + ")" + " "
					span [
					a(href=`/user/requests/${user.id}`) Approve
					span ]
	- }